body {
  background: #000;
}

#root {
  display: grid;
  place-items: center;
  min-height: 0px;
  min-width: 0px;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px;
}
element {
  --deg: 180deg;
}
body button {
  --color: var(--charcoal);
  appearance: none;
  color: var(--color);
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1),
    0px 0px 32px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: var(--beige);
  border: 1px solid var(--color);
  font-size: 16px;
  padding: 0;
  display: block;
}

button:active {
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(0, 0, 0, 0.2);
}

#root {
  display: grid;
  place-items: center;
  min-height: 0px;
  min-width: 0px;
}

.button-group {
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card {
  perspective: 500px;
}

.content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 16px;
}

.card.loading .content {
  transform: rotateY(var(--deg));
  transition: transform 0.5s;
  border-radius: 16px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgb(3, 68, 106, 0.2);
  text-align: center;
  backface-visibility: hidden;
  border-radius: 16px;
}

.back {
  background: #03446a;
  color: #fff;
  transform: rotateY(var(--deg));
}

.card figcaption {
  display: grid;
  gap: 8px;
  padding: 8px;
}

.card figure {
  margin: 0;
  padding: 0;
  min-height: 0px;
  min-width: 0px;
  display: grid;
  grid-template-rows: 320px auto;
  place-items: center;
}

.card img {
  image-rendering: pixelated;
  max-width: 200px;
  height: auto;
}

.card h4 {
  font-size: 22px;
}

.card h6 {
  font-size: 14px;
  color: var(--yellow);
}
.light {
  --bg: var(--beige);
  --bg-alt: var(--beige);
  --color: var(--charcoal);
  --color-muted: var(--charcoal-50);
  --color-inverse: var(--beige);
  --border-color: var(--charcoal-10);
  --accent: var(--purple);
}

.dark,
.light {
  min-height: 100%;
}

h1 {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

select {
  background: var(--charcoal);
  color: var(--yellow);
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border: 10px solid var(--charcoal);
}

select:focus {
  outline: 1px solid var(--border-color);
}

button,
.btn {
  appearance: none;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button:hover,
.btn:hover {
  opacity: 0.85;
}

button,
button.primary,
.btn.primary {
  background: var(--accent);
  color: var(--bg-alt);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

button.secondary,
.btn.secondary {
  background: var(--bg-alt);
  color: var(--accent);
}

button.link,
.btn.link {
  appearance: none;
  background: transparent;
  color: var(--accent);
  padding: 10px;
  text-decoration: underline;
  display: inline-block;
}

button.large,
.btn.large {
  font-size: 14px;
  padding: 16px;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

input {
  appearance: none;
  border: 1px solid var(--border-color);
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  color: var(--color);
}

input::placeholder {
  color: var(--color-muted);
}

input:focus {
  border-color: var(--color);
  outline: none;
}

a {
  color: var(--yellow);
  font-weight: 600;
}
