body {
  background: #000;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px;
}

h1 {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

form {
  display: grid;
  gap: 16px;
}

fieldset {
  display: grid;
  gap: 12px;
  border: 1px solid var(--charcoal);
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 32px;
}

span {
  font-size: 14px;
  margin-bottom: 8px;
}

button,
.btn {
  appearance: none;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button.primary,
.btn.primary {
  background: var(--accent);
  color: #231f20;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

button:not(:disabled):hover,
.btn:not(:disabled):hover {
  opacity: 0.8;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

select {
  background: #231f20;
  color: var(--accent);
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border: 10px solid #231f20;
}

input[type="checkbox"] {
  accent-color: var(--yellow);
}

input:not([type="checkbox"]) {
  appearance: none;
  border: 1px solid rgba(249, 244, 218, 0.2);
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  color: var(--color);
  width: 100%;
}

li button.secondary {
  position: absolute;
  right: 5px;
  color: var(--red);
  padding: 6px 8px;
  border-radius: 2px;
  bottom: 5px;
}

button.secondary,
.btn.secondary {
  background: #231f20;
  color: #fcba28;
}

fieldset {
  display: grid;
  gap: 12px;
  border: 1px solid var(--charcoal);
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 32px;
}
