#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: unset;
}

.light {
  --btn-bg: var(--purple);
  --btn-color: var(--beige);
  background: var(--beige);
  color: var(--charcoal);
}

.dark {
  --btn-bg: var(--yellow);
  --btn-color: var(--charcoal);
  background: var(--coal);
  color: var(--beige);
}

button {
  appearance: none;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  background: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 100%;
  padding: 24px;
}
