body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--black);
  color: var(--beige);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px;
}

section {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
}
